#
# Copyright (c) 2023,2024 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#
on init && property:ro.boot.product.vendor.sku=pineapple
    start vendor.authsecret.qti.spu

on init && property:ro.boot.product.vendor.sku=niobe
    start vendor.authsecret.qti.spu

service vendor.authsecret.qti.spu /vendor/bin/hw/android.hardware.authsecret.qti.spu-service
    class hal
    user system
    group system
    disabled
